In [2]:
import gdelt

gd = gdelt.gdelt(version=2)

results = gd.Search(['2016 10 19','2016 10 22'],table='events',coverage=True,translation=False)

In [3]:
results.shape

(875062, 62)

In [4]:
results.head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,590355590,20151020,201510,2015,2015.7945,NaN,NaN,NaN,NaN,NaN,...,3,"Seattle, Washington, United States",US,USWA,WA033,47.6062,-122.3320,1512650,20161019011500,http://nymag.com/thecut/2016/10/the-cuts-octob...
1,590355591,20151020,201510,2015,2015.7945,NaN,NaN,NaN,NaN,NaN,...,1,Kenya,KE,KE,NaN,1.0000,38.0000,KE,20161019011500,http://nymag.com/thecut/2016/10/the-cuts-octob...
2,590355592,20151020,201510,2015,2015.7945,AGR,FARMER,NaN,NaN,NaN,...,2,"California, United States",US,USCA,NaN,36.1700,-119.7460,CA,20161019011500,http://www.niagara-gazette.com/news/local_news...
3,590355593,20151020,201510,2015,2015.7945,AGR,FARMER,NaN,NaN,NaN,...,2,"New York, United States",US,USNY,NaN,42.1497,-74.9384,NY,20161019011500,http://www.niagara-gazette.com/news/local_news...
4,590355594,20151020,201510,2015,2015.7945,GOV,PRESIDENT,NaN,NaN,NaN,...,3,"Chipola, Florida, United States",US,USFL,FL013,30.5052,-85.1183,295191,20161019011500,http://www.jcfloridan.com/news/local/article_9...

In [5]:
results['SOURCEURL'][1]

'http://nymag.com/thecut/2016/10/the-cuts-october-book-club-10-books-were-reading-now.html'

In [6]:
results.columns

Index(['GLOBALEVENTID', 'SQLDATE', 'MonthYear', 'Year', 'FractionDate',
       'Actor1Code', 'Actor1Name', 'Actor1CountryCode', 'Actor1KnownGroupCode',
       'Actor1EthnicCode', 'Actor1Religion1Code', 'Actor1Religion2Code',
       'Actor1Type1Code', 'Actor1Type2Code', 'Actor1Type3Code', 'Actor2Code',
       'Actor2Name', 'Actor2CountryCode', 'Actor2KnownGroupCode',
       'Actor2EthnicCode', 'Actor2Religion1Code', 'Actor2Religion2Code',
       'Actor2Type1Code', 'Actor2Type2Code', 'Actor2Type3Code', 'IsRootEvent',
       'EventCode', 'CAMEOCodeDescription', 'EventBaseCode', 'EventRootCode',
       'QuadClass', 'GoldsteinScale', 'NumMentions', 'NumSources',
       'NumArticles', 'AvgTone', 'Actor1Geo_Type', 'Actor1Geo_FullName',
       'Actor1Geo_CountryCode', 'Actor1Geo_ADM1Code', 'Actor1Geo_ADM2Code',
       'Actor1Geo_Lat', 'Actor1Geo_Long', 'Actor1Geo_FeatureID',
       'Actor2Geo_Type', 'Actor2Geo_FullName', 'Actor2Geo_CountryCode',
       'Actor2Geo_ADM1Code', 'Actor2Geo_ADM2Code', 'Actor2Geo_Lat',
       'Actor2Geo_Long', 'Actor2Geo_FeatureID', 'ActionGeo_Type',
       'ActionGeo_FullName', 'ActionGeo_CountryCode', 'ActionGeo_ADM1Code',
       'ActionGeo_ADM2Code', 'ActionGeo_Lat', 'ActionGeo_Long',
       'ActionGeo_FeatureID', 'DATEADDED', 'SOURCEURL'],
      dtype='object')